---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Our Events - Google Calendar',
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">Our Events Calendar</Fragment>
    <Fragment slot="subtitle">
      Stay up-to-date with our upcoming events, meetings, and competitions by following our calendar. You can add events
      directly to your own calendar to ensure you never miss an important date. On mobile click the <b>+</b> at the bottom
      right.
    </Fragment>
  </Hero>
  <section class="calendar-section">
    <div class="calendar-embed">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=33c26cef594b78b5735e8786d8c340cb6166fe388ebe2dda89aa08fa1d973cd9%40group.calendar.google.com&ctz=America%2FChicago"
        style="border: 2"
        width="100%"
        height="600"
      >
      </iframe>
    </div>
  </section>
</Layout>

<style>
  .calendar-section {
    margin: 2rem auto;
    text-align: center;
  }

  .calendar-embed iframe {
    max-width: 100%;
    border-radius: 8px;
  }
</style>
