---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Join Mailing List • Wyandotte Robotics',
  description: 'Join Wyandotte Robotics (WRATH) mailing list.',
};
---

<Layout metadata={metadata}>
  <div class="layout">
    <main class="flex-grow">
      <iframe
        src="https://newsletter.wyandotterobotics.epictech.app/subscription/form"
        class="signup-iframe"
        tabindex="0"
      >
        Your browser does not support iframes.
      </iframe>
    </main>
  </div>
</Layout>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }

  main {
    flex-grow: 1; /* Take up all available space */
  }

  .signup-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>
