---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
const mascotLogo = '~/assets/images/1847-mascot-color.png';
---

<span class="flex items-start md:items-center md:flex-row flex-col min-w-0">
  <Image src={mascotLogo} alt="Logo" class="w-[65px] h-[52px] md:mr-2 mb-1 md:mb-0" width="65px" />
  <span
    class="self-start md:self-center ml-0 md:ml-2 text-2xl font-bold whitespace-normal md:whitespace-nowrap break-words overflow-hidden"
  >
    {SITE?.name}
  </span>
</span>
